
.logo {
    &__logo-pic {
	width: 70px;
	height: 66px;
		
    }
    &__tagline {
	font-size:14px;
	display:inline-block;
	width: 70px;
	margin:4px 0 0 0;
	color:$color-header-links;

	}
}



















