
.site-nav {
    list-style-type:none;
    font-size:14px;
    margin: 0 0 0 0;

    &__content {
	padding: 0 0 13px 0;
	display:inline-block;
	width: 165px;
	
	a {
	    color:$color-header-nav;
	    
	    &:hover {
		text-decoration:none;
	    }
	}
	}
}


































