
.goods-slider-image {
    width: 940px;
    height: 370px;
    margin:0 auto;
    img {
	position:relative;
	z-index:9;
	margin:-40px 0 0 60px;
	background-size:100%;
	float:left;
    }
    p {
	color:#74c4e4;
	font-family: 'Raleway',sans-serif;
	line-height: 50px;
	display:inline-block;
	width: 440px;
	margin: 0;
	position:auto;
	font-size:38px;
	margin: 70px 0 0 50px;
	

	
    }
    @media (min-width:400px)and(max-width:965px) {
	p {
	    margin:70px 0 0 0;
	    font-size:26px;
	    width:280px;
	    line-height:40px;
	}
    }
}


























