
.goods-slider-image {
    width: 960px;
    position:relative;
    height: 430px;
    img {
	margin:0 0 0 70px;
	background-size:100%;
	float:left;
    }
    p {
	color:#74c4e4;
	font-family: 'Raleway',sans-serif;
	line-height: 55px;
	display:inline-block;
	width: 440px;
	margin: 0;
	position:auto;
	font-size:38px;
	margin: 100px 0 0 50px;
	

	
    }
}


























