
.goods-slider-name-list {
    list-style-type:none;
    display:block;
    margin: 40px auto 0 auto;
    width: 960px;
    height: 70px;
    font-size:21px;
    
    
    
    &__name {
	float:left;
	text-align:center;
	text-transform:uppercase;
	height: 70px;
	line-height:30px;
	background: #eee;
	margin: 0 0;
	padding:0 21px;
	&:hover {
	    background:#EE2D54;
	}
	
		   
	p {
	 
	    
	}
    }
}



















