


.goods-name {
    margin:0;
    display:block;
    height:70px;
    list-style-type:none;
    background: #f2f4f5;
    text-transform:uppercase;
    font-family:'Raleway',sans-serif;
    overflow: hidden;
   
    &__text {
	line-height:70px;
	float:left;
	padding: 0 25px;
	font-size:21px;
	
    }
}




















