

.info-blog {

    &__content {
	margin-top:70px;
	margin-left:109px;
    }
    
    img {
	
	
	margin:0;
	padding:0;
		
    }
    &__article {
	white-space:pre-wrap;
	font-family:Raleway;
	font-size:18px;
	line-height:30px;
	margin: 0 0 0 30px;
	width: 450px;
	display:block;
	float:right;
	
    }
}

























