
.slider-bar {
    margin: 45px auto 0 auto;
    height: 5px;
    width:300px;
    position:relative;
    background-color:#e3e5e5;
    
    &__scroll {
	background-color:#d0003e;
	height: 5px;
	width: 60px;
	
    }
     @media screen and (min-width:400px) and (max-width:966px) {
	 margin: 45px 0 0 26%;
	}
}









































