
.slider-bar {
    margin: 45px auto 0 auto;
    height: 5px;
    width:300px;
    position:relative;
    background-color:#e3e5e5;
    
    &__scroll {
	background-color:#d0003e;
	height: 5px;
	width: 60px;
	
    }
}









































